$color: #e78b02;
$duration: .5s;
$height-border: 2px;
$padding: 10px;
$mobile: 479px;
$medium: 991px;
$darktone: black;
$lighttone: #9a9a9a;

figure {
    margin: 0;
    padding: 0;
}

.gallery {
    display: grid;


}

.container-gallery {
    width: 100%;
    height: 100%;
}

.wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.gallery {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, .2fr);
    grid-gap: 10px;
    width: 100%;
    padding-top: 10px;

    @media screen and (max-width: $medium) {
        grid-gap: 5px;
        padding-top: 5px;

    }

    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(21, 30px);
    }
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

    @media screen and (max-width: $mobile) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }
}

.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background: black;

    @media screen and (max-width: $mobile) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 12;

    }
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    font-size: 11px;

    @media screen and (max-width: $medium) {
        font-size: 8px;
    }

    @media screen and (max-width: $mobile) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 7;
        font-size: 7px;

        img {
            object-position: top;
        }
    }
}
.gallery__item--3.customgallery {
    cursor: auto;
}


.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 9;

    @media screen and (max-width: $mobile) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 12;
    }
}

.gallery__item--5 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    @media screen and (max-width: $mobile) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 17;
    }
}

.gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 12;

    @media screen and (max-width: $mobile) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 17;
        grid-row-end: 22;
        background: black;
    }

    img {
        object-position: top;
    }
}

.gallery__item--7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 12;
    background: black;

    @media screen and (max-width: $mobile) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 12;
        grid-row-end: 17;
    }
}

.gallery__item--8 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 12;

    @media screen and (max-width: $mobile) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 17;
        grid-row-end: 22;
    }
}

.gallery__item--9 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 12;

    @media screen and (max-width: $mobile) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 17;
        grid-row-end: 22;
    }
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s linear;
}

.gallery__item {
    overflow: hidden;
}

.gallery__item {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;


}

.gallery__img:hover {

    transition: .4s ease-in-out;
    transform: scale(1.2);
}

.lightbox {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;


}

.open {
    outline: none;
    height: 100%;
    opacity: 1 !important;
    visibility: visible;

}


.lightbox img {
    height: 90vmin;

    @media screen and (max-width: $mobile) {
        height: 70vmax;
    }

}

.horizontal-video {
    max-width: 1100px;

    video {
        max-height: 90vmin;
        max-width: 100%;
        width: auto;
        height: auto;

        @media screen and (max-width: $mobile) {
            height: auto;
            max-height: none;
        }


    }
}

.vertical-video {
    max-width: 450px;

    @media screen and (max-width: $mobile) {
        height: 100%;
        min-height: 0;
        margin-top: 20px;

    }

    video {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 90vh;
        margin: auto;

        @media screen and (max-width: $mobile) {
            min-height: 0;
            display: flex;
            height: 100%;
            max-height: 100%;

        }
    }
}

.plyr--video {
    height: 100%;
}

.text-with-element {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    min-height: 0;

    @media screen and (max-width: $mobile) {
        flex-direction: column;
        height: 100%;
        margin: 0 10px;

    }
}

@mixin copy {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 16px;
}

.text-capt {
    text-align: left;
    @include copy;
    color: darkgray;
    max-width: 129px;

    @media screen and (max-width: $mobile) {
        max-width: 258px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.project-hed {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.2;
    color: white;
    font-weight: 400;
    padding-bottom: 5px;

    @media screen and (max-width: $mobile) {
        font-size: 24px;
    }
}

.rule-capt {
    width: 20px;
    height: $height-border;
    background: $color;
    margin: 15px 0;


    @media screen and (max-width: $mobile) {
        margin: 10px 0;
    }
}

.explore-link {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.2;
    margin-top: 20px;
    font-weight: 400;

    span {
        font-size: 20px;
        margin-right: 5px;
    }
}

.explore-link a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    color: white;


    &:after {
        content: '';
        background: $color;
        height: $height-border;
        position: absolute;
        bottom: 0;
        margin-right: 4px;
    }
}

a.go-left-hide:after {
    transition: $duration width;
    width: 100%;
    right: 0;
}

a.go-left-hide:hover:after {
    transition: $duration all;
    width: 0;
    right: 100%;
}

.btn-close {
    font-size: 45px;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    cursor: pointer;
    font-weight: 100;
    line-height: 1;

    @media screen and (max-width: $mobile) {
        top: 10px;
        right: 10px;

    }


}

.btn-close:hover {
    opacity: .5;
    transition: .5s;

}

.video-series {
    display: flex;
    overflow-y: scroll;
    min-height: 0;
    flex-direction: column;
    direction: rtl;
    cursor: ns-resize;
    height: 90vh;

    @media screen and (max-width: $mobile) {
        margin-top: 20px;
        height: unset;

    }
}

/*.plyr--video .plyr__controls {
    width: fit-content;
    margin: auto;
}*/

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3b3b3b;
}

#style-4::-webkit-scrollbar {
    width: 4px;

}

#style-4::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;

}

#style-4::-webkit-scrollbar-button {}