@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'gallery-lightbox.scss';


/*.plyr--video {
    background: #000;
    background: var(--plyr-video-background, var(--plyr-video-background, #000));
    overflow: unset;
    height: 100%;
}*/

.plyr__volume {
    align-items: center;
    display: flex;
    max-width: none;
    min-width: unset;
    position: relative;
    width: unset;
}

.plyr__control--overlaid svg {

    position: relative;
    transform: scale(2);
}

.plyr__control svg {
    fill: white;
}

.plyr button {
    background: transparent;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: transparent;
    opacity: .5;
}

.plyr--full-ui input[type=range] {
    color: #fcfcfc;

}

.plyr--video .plyr__progress__buffer {
    color: #ffffff00;
}

.gallery__item .text-justify {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 2.8em;
    max-width: 8em;
    line-height: 1.2;
    color: $lighttone;
    letter-spacing: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;

    span {
        font-weight: 400;
        font-size: 1.7em;
        color: $darktone;
    }

}

.head-rule {
    border: none;
    border-top: 5px solid $color;
    width: 1em;
    margin: 1em 0;

    @media screen and (max-width: $mobile) {
        border-top: 3px solid $color;
    }
}

.row>div,
.container {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

body {
    @include copy;
    margin: 0;
}

header {
    margin: 50px;
    max-width: 100%;

    @media screen and (max-width: $medium) {
        margin: 30px 10px 30px;

    }
}

.content-inner {
    background: #fff
}



.gallery__item h1 {
    margin: auto;
}

.timeline-wrapper {
    max-width: 510px;
    margin: 100px auto;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    color: black;

    @media screen and (max-width: $mobile) {
        margin: 70px auto;
        font-size: 14px;

    }

}

#timeline {
    list-style: none;
    margin: auto;
    padding: 50px 0 50px 20px;
    border-left: 2px solid;
    border-image: linear-gradient(0deg, #9a9a9a00 0%, $lighttone 10%, $lighttone 90%, #9a9a9a00 100%) 1;
    border-width: 0 0 0 2px;
    height: 100%;
    margin-left: 90px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
        padding: 30px 0 30px 20px;

    }
}

#timeline li {
    margin: 15px 15px 15px 0;
    position: relative;
}

.work.area {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .8em;
    color: $lighttone;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.work.calltoact {
    letter-spacing: 1px;
    font-size: 13px;
    color: #9a9a9a;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-style: italic;

    img {
        width: 2.5em;
        margin: 0px 0px -6px 5px;
    }
}

#timeline p {
    margin: 0 0 15px;
    @include copy;
}

.date {
    left: -2.8em;
    font-size: 1.3em;
    line-height: 1.5;
    position: absolute;
    font-family: "Oswald", sans-serif;
    color: #9a9a9a;
    top: 0;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 15px;

    @media screen and (max-width: $mobile) {
        line-height: 1.4;
        width: 9px;

    }
}

.oscar-timeline {
    margin-left: 45px;
    max-width: 150px;

}

.circle {
    top: 10px;
    left: -28px;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border: 2px solid $lighttone;
    border-radius: 50%;
    display: block;
    position: absolute;

    @media screen and (max-width: $mobile) {
        top: 6px;

    }
}

.content {
    max-height: 20px;
    padding: 10px 0 0 30px;
    position: relative;

    @media screen and (max-width: $mobile) {
        padding: 10px 10px 0 0;
    }


}

.content p {
    max-height: 0;
    color: transparent;
    text-align: left;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    line-height: 1.7;

}

.content p span {
    color: black;
    font-weight: 500;

}

label {
    font-size: 1.5em;
    position: relative;
    z-index: 100;
    cursor: pointer;
    line-height: 1.3;
    font-weight: 400;
    color: $lighttone;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile) {
        line-height: 1.2;
    }

}

.radio {
    display: none;
}

.relative label span {
    color: $lighttone;
    font-weight: 300;
    font-size: 1em;
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 15px;
}

.radio:checked+.relative label {
    cursor: auto;
    color: black;
}

.radio:checked+.relative label span {
    transform: rotate(270deg);
    display: none;
}

.radio:checked+.relative .date {
    cursor: auto;
    color: black;
}

.radio:checked+.relative .circle {
    background: black;
    border-color: black;
}

.radio:checked~.content {
    max-height: 500px;
    transition: ease-in-out 1s;
}

.radio:checked~.content p {
    max-height: 500px;
    color: $lighttone;
    transition: ease-in-out 1s;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

.inline-block {
    display: inline-block
}

/* Navigation */

.navbar {
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 17px;

    @media screen and (max-width: $mobile) {
        font-size: 13px;

    }

}

.navbar-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    span {
        width: max-content;
        padding-left: 15px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .2em;
        text-transform: uppercase;
    }

    img {
        width: 1.8em;
    }
}

.navbar-collapse {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
        list-style: none;
        margin-left: 20px;

        &:hover {
            opacity: .7;
        }

        img {
            width: 1.6em;
        }

    }
}


footer {
    clear: both;
    padding: 2em 0;
    border-top: 1px solid #f1f1f1;
}

.nav-footer {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-footer ul {
    margin: 0;
    padding: 0;
    text-align: center
}

.nav-footer li {
    list-style: none;
    margin: .5em;
    display: inline-block
}

.nav-footer a {
    color: #999;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out
}

.nav-footer a:hover {
    color: #1eadef
}

#quote {
    color: #000000;
}

footer p {
    margin: 0
}

.credits {
    color: #999;
    font-weight: 300;
    margin: 7px 0;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.navbar-brand-wrapper {
    margin: 3em 0 2em;
    opacity: .2
}

footer .navbar-brand {
    float: none;
    text-align: center;
    width: 100%
}

footer {
    background: #fff
}

.wrapper footer .container {
    box-shadow: none
}

.grid-list-wrapper li {
    list-style: none;
}

.navbar-nav.social {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

}


@media only screen and (min-width: 992px) {
    .wrapper {
        padding: 0;
        clear: both
    }

}