@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
figure {
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
}

.container-gallery {
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.gallery {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 0.2fr);
  grid-gap: 10px;
  width: 100%;
  padding-top: 10px;
}
@media screen and (max-width: 991px) {
  .gallery {
    grid-gap: 5px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 479px) {
  .gallery {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(20, 30px);
  }
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
@media screen and (max-width: 479px) {
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  background: black;
}
@media screen and (max-width: 479px) {
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 12;
  }
}

.gallery__item--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
@media screen and (max-width: 479px) {
  .gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 9;
}
@media screen and (max-width: 479px) {
  .gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 12;
  }
}

.gallery__item--5 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
@media screen and (max-width: 479px) {
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 17;
  }
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 12;
}
@media screen and (max-width: 479px) {
  .gallery__item--6 {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 12;
    grid-row-end: 17;
  }
}
.gallery__item--6 img {
  object-position: top;
}

.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 12;
  background: black;
}
@media screen and (max-width: 479px) {
  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 17;
    grid-row-end: 21;
    background: black;
  }
}

.gallery__item--8 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 12;
}
@media screen and (max-width: 479px) {
  .gallery__item--8 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 21;
  }
}

.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
}
@media screen and (max-width: 479px) {
  .gallery__item--9 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 17;
    grid-row-end: 21;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s linear;
}

.gallery__item {
  overflow: hidden;
}

.gallery__item {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.gallery__img:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.2);
}

.lightbox {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 0;
  text-align: center;
  bottom: 0;
  left: 0;
  display: flex;
  background: black;
  opacity: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.open {
  outline: none;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  opacity: 1 !important;
  visibility: visible;
  display: flex;
}

.lightbox img {
  height: 70vmax;
}

.lightbox video {
  height: 100%;
  max-width: 100%;
  padding-bottom: 50px;
}

.lightbox .video-series video {
  margin-bottom: 50px;
}

.horizontal-video {
  height: 75vh;
}
@media screen and (max-width: 479px) {
  .horizontal-video {
    height: 100%;
  }
}

.vertical-video {
  height: 90vmin;
}
@media screen and (max-width: 479px) {
  .vertical-video {
    height: 75vmax;
  }
}

.text-with-element {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 479px) {
  .text-with-element {
    flex-direction: column;
  }
}

.text-capt {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 15px;
  color: darkgray;
  max-width: 159px;
}
@media screen and (max-width: 479px) {
  .text-capt {
    max-width: 320px;
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.project-hed {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.2;
  color: white;
  font-weight: 400;
  padding-bottom: 5px;
}
@media screen and (max-width: 479px) {
  .project-hed {
    font-size: 24px;
  }
}

.rule-capt {
  width: 20px;
  height: 2px;
  background: #e78b02;
  margin: 15px 0;
}
@media screen and (max-width: 479px) {
  .rule-capt {
    margin: 10px 0;
  }
}

.explore-link {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.2;
  margin-top: 20px;
  font-weight: 400;
}
.explore-link span {
  font-size: 20px;
  margin-right: 5px;
}

.explore-link a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  color: white;
}
.explore-link a:after {
  content: "";
  background: #e78b02;
  height: 2px;
  position: absolute;
  bottom: 0;
  margin-right: 4px;
}

a.go-left-hide:after {
  transition: 0.5s width;
  width: 100%;
  right: 0;
}

a.go-left-hide:hover:after {
  transition: 0.5s all;
  width: 0;
  right: 100%;
}

.btn-close {
  font-size: 45px;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  cursor: pointer;
  font-weight: 100;
  line-height: 1;
}
@media screen and (max-width: 479px) {
  .btn-close {
    top: 10px;
    right: 10px;
  }
}

.btn-close:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.video-series {
  display: flex;
  overflow-y: scroll;
  min-height: min-content;
  flex-direction: column;
  height: 90vh;
  direction: rtl;
  cursor: ns-resize;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3b3b3b;
}

#style-4::-webkit-scrollbar {
  width: 4px;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

#style-4::-webkit-scrollbar-button {
  height: 120px;
}

.plyr--video {
  background: #000;
  background: var(--plyr-video-background, var(--plyr-video-background, #000));
  overflow: hidden;
  height: 100%;
}

.plyr__volume {
  align-items: center;
  display: flex;
  max-width: none;
  min-width: unset;
  position: relative;
  width: unset;
}

.plyr__control svg {
  fill: white;
}

.plyr button {
  background: black;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #000000bd;
}

.plyr--full-ui input[type=range] {
  color: #fcfcfc;
}

.plyr--video .plyr__progress__buffer {
  color: #ffffff00;
}

.row > div,
.container {
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 15px;
  margin: 0;
}

header {
  margin: 50px;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  header {
    margin: 30px 10px 30px;
  }
}

.content-inner {
  background: #fff;
}

#logo {
  width: 70px;
  height: 70px;
}

#logo:hover {
  width: 80px;
  height: 80px;
}

.gallery__item .text-justify {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 40px;
  max-width: 228px;
  line-height: 1.2;
  color: #9a9a9a;
  letter-spacing: 0px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
}
.gallery__item .text-justify span {
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .gallery__item .text-justify {
    font-size: 32px;
    max-width: 200px;
  }
}
@media screen and (max-width: 479px) {
  .gallery__item .text-justify {
    font-size: 24px;
  }
}

.gallery__item h1 {
  margin: auto;
}

.timeline-wrapper {
  max-width: 510px;
  margin: 100px auto;
  font-size: 100%;
  font-family: "Oswald", sans-serif;
  color: black;
}
@media screen and (max-width: 479px) {
  .timeline-wrapper {
    margin: 70px auto;
  }
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: auto;
  padding: 50px 0 50px 20px;
  border-left: 2px solid;
  border-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, black 10%, #202020 90%, rgba(232, 232, 232, 0) 100%) 1;
  height: 100%;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 479px) {
  #timeline {
    padding: 30px 0 30px 20px;
  }
}

#timeline li {
  margin: 15px 0;
  position: relative;
}

.work.area {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  color: grey;
}

#timeline p {
  margin: 0 0 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 15px;
}

.date {
  left: -90px;
  font-size: 1.5em;
  line-height: 1;
  position: absolute;
  font-family: "Oswald", sans-serif;
  color: grey;
  top: 0;
}

.oscar-timeline {
  margin-left: 45px;
  max-width: 150px;
}

.circle {
  top: 5px;
  left: -28px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 10px 0 0 30px;
  position: relative;
}
@media screen and (max-width: 479px) {
  .content {
    padding: 10px 10px 0 0;
  }
}

/*.content:before,
.content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.content:after {
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}*/
.content p {
  max-height: 0;
  color: transparent;
  text-align: left;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  line-height: 1.7;
}

.content p span {
  color: black;
  font-weight: 500;
}

label {
  font-size: 1.6em;
  position: relative;
  z-index: 100;
  cursor: pointer;
  line-height: 1;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
}

.radio:checked + .relative .circle {
  background: black;
}

.radio:checked ~ .content {
  max-height: 500px;
  transition: ease-in-out 1s;
}

.radio:checked ~ .content p {
  max-height: 500px;
  color: #9a9a9a;
  transition: ease-in-out 1s;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.inline-block {
  display: inline-block;
}

/* Navigation */
.navbar {
  display: flex;
  align-items: flex-end;
  line-height: 0;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-collapse li {
  list-style: none;
  margin-left: 20px;
}

footer {
  clear: both;
  padding: 2em 0;
  border-top: 1px solid #f1f1f1;
}

.nav-footer {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-footer li {
  list-style: none;
  margin: 0.5em;
  display: inline-block;
}

.nav-footer a {
  color: #999;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
}

.nav-footer a:hover {
  color: #1eadef;
}

#quote {
  color: #000000;
}

footer p {
  margin: 0;
}

.credits {
  color: #999;
  font-weight: 200;
  margin: 7px 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.navbar-brand-wrapper {
  margin: 3em 0 2em;
  opacity: 0.2;
}

footer .navbar-brand {
  float: none;
  text-align: center;
  width: 100%;
}

footer {
  background: #fff;
}

.wrapper footer .container {
  box-shadow: none;
}

.grid-list-wrapper li {
  list-style: none;
}

.navbar-nav.social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .overlay {
    min-height: 90px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .overlay {
    font-size: 120%;
  }

  .overlay h3 {
    display: block;
    line-height: 1.5em;
  }

  .overlay h3 span {
    display: block;
    opacity: 0.34;
  }

  .overlay h3 span:hover {
    opacity: 0.54;
  }

  .no-gutter-space {
    margin: 0;
  }

  .no-gutter-space > div {
    margin: 0;
    padding: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    opacity: 0;
    background: #f5f5f5;
    background: rgba(0, 0, 0, 0.5);
  }

  .grid-list:hover .overlay {
    opacity: 1;
  }

  .overlay a {
    font-size: 0.8em;
    color: #fff;
    height: 100%;
    width: 100%;
    display: block;
  }

  .grid-list {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    padding: 0;
    clear: both;
  }
}

/*# sourceMappingURL=main.css.map */
